<div class="container m-5 text-center">
    <div class="row">
        <div class="col-xl-12">
            <ol>
                <li>Create Two Modal Component Success and Failure</li>
                <li>style this component</li>
                <li>show this Component one by one</li>
            </ol>
            <p>using external or internal html content inside the component</p>
        </div>

        <div class="col-12">
            <app-first-assignmentmodalone></app-first-assignmentmodalone>
        </div>
        <div class="col-12">
           <app-first-assignmentmodaltwo></app-first-assignmentmodaltwo>
        </div>
    </div>
</div>